<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spottechnicians.caudit">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher3"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--android:name="android.support.multidex.MultiDexApplication"  use this in application tag to use Multidex support-->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.spottechnicians.caudit.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

        <activity
            android:name=".Activities.Splash"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Home"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".Activities.Daily_Audit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModuleCT.CT_Questions"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ModuleCT.Photo_Of_CT"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModuleCT.Signatuere_Of_CT"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModuleCT.SignatureCanvas"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.ChkReport"></activity>
        <activity android:name=".ModuleHK.HKQuestions" />
        <activity android:name=".ModuleHK.PhotoOfHK" />
        <activity android:name=".ModuleSRM.SRMQuestions" />

        <activity
            android:name=".ModuleSRM.PhotoOfSRM"
            android:configChanges="keyboardHidden|orientation" />

        <activity android:name=".ModuleRecruitment.OfficialDetails" />
        <activity android:name=".ModuleRecruitment.Address" />
        <activity android:name=".ModuleRecruitment.Biodata" />
        <activity android:name=".ModuleRecruitment.Declaration" />

        <!-- services -->

        <service
            android:name=".utils.GetLocationService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>